body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
}

.user,
.posts,
.post,
.contacts,
.card {
  border: 1px solid black;
  margin: 20px;
  text-align: center;
}

.nav {
  background-color: lightblue;
  grid-area: 'nav';
  padding: 10px;
  text-align: right;
}

.post {
  margin: 20px;
}